<footer>
    <div class="container">
        <div class="footer">
            <p class="copyright">{{global.footer.copyright}}</p>
            <ul class="icons">
                {{#global.social.facebook.show_or_hide}}
                    <li>
                        <a href="{{{global.social.facebook.url}}}"><i class="fab fa-{{global.social.facebook.name}}"></i></a>
                    </li>
                {{/global.social.facebook.show_or_hide}}

                {{#global.social.twitter.show_or_hide}}
                    <li>
                        <a href="{{{global.social.twitter.url}}}"><i class="fab fa-{{global.social.twitter.name}}"></i></a>
                    </li>
                {{/global.social.twitter.show_or_hide}}

                {{#global.social.dribbble.show_or_hide}}
                    <li>
                        <a href="{{{global.social.dribbble.url}}}"><i class="fab fa-{{global.social.dribbble.name}}"></i></a>
                    </li>
                {{/global.social.dribbble.show_or_hide}}

                {{#global.social.pinterest.show_or_hide}}
                    <li>
                        <a href="{{{global.social.pinterest.url}}}"><i class="fab fa-{{global.social.pinterest.name}}"></i></a>
                    </li>
                {{/global.social.pinterest.show_or_hide}}

                {{#global.social.linkedin.show_or_hide}}
                    <li>
                        <a href="{{{global.social.linkedin.url}}}"><i class="fab fa-{{global.social.linkedin.name}}"></i></a>
                    </li>
                {{/global.social.linkedin.show_or_hide}}

                {{#global.social.youtube.show_or_hide}}
                    <li>
                        <a href="{{{global.social.youtube.url}}}"><i class="fab fa-{{global.social.youtube.name}}"></i></a>
                    </li>
                {{/global.social.youtube.show_or_hide}}

                {{#global.social.instagram.show_or_hide}}
                    <li>
                        <a href="{{{global.social.instagram.url}}}"><i class="fab fa-{{global.social.instagram.name}}"></i></a>
                    </li>
                {{/global.social.instagram.show_or_hide}}
            </ul>
        </div>
    </div>
</footer>