<footer>
    <div class="container">
        <div class="footer">
            <p class="copyright">{{global.footer.copyright}}</p>
            <ul class="icons">
                {{#global.footer.icons}}
                    <li>
                        <a href="#"><i class="{{icon}}"></i></a>
                    </li>
                {{/global.footer.icons}}
            </ul>
        </div>
    </div>
</footer>