
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/lightgallery.js"></script>
    <script src="/js/lg-thumbnail.js"></script>
    <script src="/js/lg-fullscreen.js"></script>
