<div class="col-md-3 col-sm-12 left">
    <div class="profile">
        <p><img src="{{{global.img_profile}}}=s120-c"></p>
    </div>
    <ul class="nav">
        {{#global.nav}}
            <li><a class="{{class}} showSection" id="{{id}}" href="#">{{text}}<i class="{{icon}}"></i></a></li>
        {{/global.nav}}
    </ul>
</div>