
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{{global.name}}</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/animate.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/lightgallery.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>

    <body>

        <main>
            <section class="main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 left">
                            <div class="profile">
                                <p><img src="{{page.profile.img}}"></p>
                            </div>
                            <ul class="nav">
                                {{#page.nav}}
                                    <li><a class="{{class}} showSection" id="{{id}}" href="#">{{text}}<i class="{{icon}}"></i></a></li>
                                {{/page.nav}}
                            </ul>
                        </div>
                        <div class="col-md-9 col-sm-12 right">
                            <div class="body">
                                <div id="section1" class="targetDiv profile-section">
                                    <div class="animated fadeInDown">
                                        <h2 class="light">{{page.profile.content.title}} <strong>{{page.profile.content.name}}</strong><br>{{page.profile.content.position}}</h2>
                                        <p class="line"></p>
                                        <p class="desc">{{page.profile.content.desc}}</p>
                                    </div>
                                    <div class="info animated fadeInUp">
                                        <h4 class="light">{{page.profile.content.info.title}}</h4>
                                        <p class="line2"></p>
                                        <ul class="details">
                                            {{#page.profile.content.info.details}}
                                                <li>
                                                    <span>{{label}}</span>
                                                    <p>{{desc}}</p>
                                                </li>
                                            {{/page.profile.content.info.details}}
                                        </ul>
                                    </div>
                                </div>

                                <div id="section2" class="targetDiv show work">
                                    <div class="head animated fadeInDown">
                                        <h3 class="section-title">{{page.work.title}}</h3>
                                        <div class="controls">
                                            <p>{{page.nav-right.text}}</p> 
                                            <a href="#" class="control-btn btn-prev"><i class="{{page.nav-right.prev}}"></i></a>
                                            <a href="#" class="control-btn btn-next"><i class="{{page.nav-right.next}}"></i></a>
                                        </div>
                                    </div>
                                    <ul class="work-menu">
                                        {{#page.work.menu}}
                                            <li><a href="#" id="{{id}}" class="work-nav {{class}}">{{text}}</a></li>
                                        {{/page.work.menu}}
                                    </ul>

                                    <div id="lightgallery">
                                        {{#page.work.pics}}
                                            <a href="{{img}}">
                                                <img class="thumb animated flipInX {{class}}" src="{{img}}">
                                            </a>
                                        {{/page.work.pics}}
                                        {{#page.work.pics2}}
                                            <a href="{{img}}">
                                                <img class="thumb animated flipInX {{class}}" src="{{img}}">
                                            </a>
                                        {{/page.work.pics2}}                                          
                                    </div>
                                </div> 

                                <div id="section3" class="targetDiv resume">
                                    <div class="head animated fadeInDown">
                                        <h3 class="section-title">{{page.resume.title}}</h3>
                                        <div class="controls">
                                            <p>{{page.nav-right.text}}</p> 
                                            <a href="#" class="control-btn btn-prev"><i class="{{page.nav-right.prev}}"></i></a>
                                            <a href="#" class="control-btn btn-next"><i class="{{page.nav-right.next}}"></i></a>
                                        </div>
                                    </div>
                                    <h4 class="light">{{page.resume.educ.title}}</h4>
                                    <p class="line2"></p>
                                    <ul class="schools animated fadeInLeft">
                                        {{#page.resume.educ.schools}}
                                            <li>
                                                <p class="school">{{school}}</p>
                                                <p class="year"><i class="far fa-calendar-alt"></i>{{year}}</p>
                                                <p class="descr">{{desc}}</p>
                                            </li>
                                        {{/page.resume.educ.schools}}
                                    </ul>
                                    <h4 class="light">{{page.resume.skills.title}}</h4>
                                    <p class="line2"></p>
                                    <div class="graph">
                                        {{#page.resume.skills.graph}}
                                            <span>{{text}}</span>
                                            <div class="{{class}}"><span>{{percent}}</span></div>
                                        {{/page.resume.skills.graph}}
                                    </div>
                                    <h4 class="light">{{page.resume.services.title}}</h4>
                                    <p class="line2"></p>
                                    <ul class="service-list">
                                        {{#page.resume.services.list}}
                                            <li class="align-center">
                                                <i class="{{icon}}"></i>
                                                <span class="line-list"></span>
                                                <p>{{text}}</p>
                                            </li>
                                        {{/page.resume.services.list}}
                                    </ul>
                                    <h4 class="light top-border">{{page.resume.work.title}}</h4>
                                    <p class="line2"></p>
                                    <ul class="schools animated fadeInLeft">
                                        {{#page.resume.work.exp}}
                                            <li>
                                                <p class="school">{{school}}</p>
                                                <p class="year"><i class="far fa-calendar-alt"></i>{{year}}</p>
                                                <p class="descr">{{desc}}</p>
                                            </li>
                                        {{/page.resume.work.exp}}
                                    </ul>
                                </div>

                                <div id="section4" class="targetDiv blog">
                                    <div class="head animated fadeInDown">
                                        <h3 class="section-title">{{page.blog.title}}</h3>
                                        <div class="controls">
                                            <p>{{page.nav-right.text}}</p> 
                                            <a href="#" class="control-btn btn-prev"><i class="{{page.nav-right.prev}}"></i></a>
                                            <a href="#" class="control-btn btn-next"><i class="{{page.nav-right.next}}"></i></a>
                                        </div>
                                    </div>
                                    {{#page.blog.post}}
                                        {{#full-img}}
                                            <div class="img-top">
                                                <div class="full-img align-center" style="background-color: {{color}}">
                                                    {{#icon}}
                                                        <i class="{{icon}}"></i>
                                                    {{/icon}}
                                                        <p style="color: {{text-color}}">{{text}}</p>
                                                    {{#text2}}
                                                        <i style="color: {{text-color2}}; margin-top: 1rem;" class="{{icon2}}"></i>
                                                        <p style="color: {{text-color2}}">{{text2}}</p>
                                                    {{/text2}}
                                                </div>
                                            </div>
                                        {{/full-img}}
                                        <div class="row post animated flipInX">
                                            <div class="col-md-5 col-sm-12">
                                                <img src="{{img}}">
                                            </div>
                                            <div class="col-md-7 col-sm-12">
                                                <h4><a href="#">{{title}}</a>
                                                <ul class="post-meta">
                                                    {{#meta}}
                                                        <li>
                                                            <i class="{{icon}}"></i>
                                                            <a href="#">{{text}}</a>
                                                        </li>
                                                    {{/meta}}
                                                </ul>
                                                <p class="post-desc">{{desc}}</p>
                                            </div>
                                        </div>
                                    {{/page.blog.post}}
                                </div>

                                <div id="section5" class="targetDiv contact">
                                    <div class="head animated fadeInDown">
                                        <h3 class="section-title">{{page.contact.title}}</h3>
                                    </div>
                                    <div class="animated fadeIn">
                                        <div class="map">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3851.3547633951384!2d120.59558231467157!3d15.138849389461496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3396f3ba2f2cd901%3A0xb645e35ce14c6163!2sIUTIS+Lighting%2C+419+Quirino+Extension+Belen+Homesite%2C+Angeles%2C+2009+Pampanga!3m2!1d15.1388494!2d120.597771!5e0!3m2!1sen!2sph!4v1556676769543!5m2!1sen!2sph" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        </div>
                                        <h4>{{page.contact.info.title}}</h4>
                                        <p class="post-desc">{{page.contact.info.desc}}</p>
                                        <ul class="contact-meta post-meta">
                                            {{#page.contact.info.meta}}
                                                <li>
                                                    <i class="{{icon}}"></i>
                                                    <span>{{text}}<span>
                                                </li>
                                            {{/page.contact.info.meta}}
                                        </ul>
                                        <div class="message-box">
                                            <h4>{{page.contact.message.title}}</h4>
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-12">
                                                        <input type="text" name="name" id="name" placeholder="name">
                                                        <input type="text" name="email" id="email" placeholder="email">
                                                        <input type="text" name="subj" id="subj" placeholder="Subject">
                                                    </div>
                                                    <div class="col-md-8 col-sm-12">
                                                        <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                                                    </div>
                                                </div>
                                                <p class="align-right"><button class="btn btn-send">{{page.contact.message.btntext}}</button></p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <footer>
                                <div class="container">
                                    <div class="footer">
                                        <p class="copyright">{{page.footer.copyright}}</p>
                                        <ul class="icons">
                                            {{#page.footer.icons}}
                                                <li>
                                                    <a href="#"><i class="{{icon}}"></i></a>
                                                </li>
                                            {{/page.footer.icons}}
                                        </ul>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        
    </body>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lightgallery.js"></script>
    <script src="js/lg-thumbnail.js"></script>
    <script src="js/lg-fullscreen.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
