
<!doctype html>
<html lang="en">
    {{>head}}

    <body>

        <main>
            <section class="main">
                <div class="container">
                    <div class="row">
                        {{>sidebar}}
                        <div class="col-md-9 col-sm-12 right">
                            <div class="body">
                                <div id="section1" class="targetDiv profile-section">
                                    <div class="animated fadeInDown">
                                        <h2 class="light">{{page.profile.content.title}} <strong>{{page.profile.content.name}}</strong><br>{{page.profile.content.position}}</h2>
                                        <p class="line"></p>
                                        <p class="desc">{{page.profile.content.desc}}</p>
                                    </div>
                                    <div class="info animated fadeInUp">
                                        <h4 class="light">{{page.profile.content.info.title}}</h4>
                                        <p class="line2"></p>
                                        <ul class="details">
                                            {{#page.profile.content.info.details}}
                                                <li>
                                                    <span>{{label}}</span>
                                                    <p>{{desc}}</p>
                                                </li>
                                            {{/page.profile.content.info.details}}
                                        </ul>
                                    </div>
                                </div>

                                <div id="section2" class="targetDiv show work">
                                    <div class="head animated fadeInDown">
                                        <h3 class="section-title">{{page.work.title}}</h3>
                                    </div>
                                    <ul class="work-menu">
                                        {{#page.work.menu}}
                                            <li><a href="#" id="{{id}}" class="work-nav {{class}}">{{text}}</a></li>
                                        {{/page.work.menu}}
                                    </ul>

                                    <div id="lightgallery">
                                        {{#page.work.pics}}
                                            <a href="{{img}}">
                                                <img class="thumb animated flipInX {{class}}" src="{{{img}}}">
                                            </a>
                                        {{/page.work.pics}}
                                        {{#page.work.pics2}}
                                            <a href="{{img}}">
                                                <img class="thumb animated flipInX {{class}}" src="{{{img}}}">
                                            </a>
                                        {{/page.work.pics2}}                                          
                                    </div>
                                </div> 

                                <div id="section3" class="targetDiv resume">
                                    <div class="head animated fadeInDown">
                                        <h3 class="section-title">{{page.resume.title}}</h3>
                                    </div>
                                    <h4 class="light">{{page.resume.educ.title}}</h4>
                                    <p class="line2"></p>
                                    <ul class="schools animated fadeInLeft">
                                        {{#page.resume.educ.schools}}
                                            <li>
                                                <p class="school">{{school}}</p>
                                                <p class="year"><i class="far fa-calendar-alt"></i>{{year}}</p>
                                                <p class="descr">{{desc}}</p>
                                            </li>
                                        {{/page.resume.educ.schools}}
                                    </ul>
                                    <h4 class="light">{{page.resume.skills.title}}</h4>
                                    <p class="line2"></p>
                                    <div class="graph">
                                        {{#page.resume.skills.graph}}
                                            <span>{{text}}</span>
                                            <div class="{{class}}"><span>{{percent}}</span></div>
                                        {{/page.resume.skills.graph}}
                                    </div>
                                    <h4 class="light">{{page.resume.services.title}}</h4>
                                    <p class="line2"></p>
                                    <ul class="service-list">
                                        {{#page.resume.services.list}}
                                            <li class="align-center">
                                                <i class="{{icon}}"></i>
                                                <span class="line-list"></span>
                                                <p>{{text}}</p>
                                            </li>
                                        {{/page.resume.services.list}}
                                    </ul>
                                    <h4 class="light top-border">{{page.resume.work.title}}</h4>
                                    <p class="line2"></p>
                                    <ul class="schools animated fadeInLeft">
                                        {{#page.resume.work.exp}}
                                            <li>
                                                <p class="school">{{school}}</p>
                                                <p class="year"><i class="far fa-calendar-alt"></i>{{year}}</p>
                                                <p class="descr">{{desc}}</p>
                                            </li>
                                        {{/page.resume.work.exp}}
                                    </ul>
                                </div>

                                <div id="section4" class="targetDiv blog">
                                    <div class="head animated fadeInDown">
                                        <h3 class="section-title">{{page.blog.title}}</h3>
                                    </div>
                                    {{#page.blog.post}}
                                        {{#full-img}}
                                            <div class="img-top">
                                                <div class="full-img align-center" style="background-color: {{color}}">
                                                    {{#icon}}
                                                        <i class="{{icon}}"></i>
                                                    {{/icon}}
                                                        <p style="color: {{text-color}}">{{text}}</p>
                                                    {{#text2}}
                                                        <i style="color: {{text-color2}}; margin-top: 1rem;" class="{{icon2}}"></i>
                                                        <p style="color: {{text-color2}}">{{text2}}</p>
                                                    {{/text2}}
                                                </div>
                                            </div>
                                        {{/full-img}}
                                        <div class="row post animated flipInX">
                                            <div class="col-md-5 col-sm-12">
                                                <img src="{{{img}}}">
                                            </div>
                                            <div class="col-md-7 col-sm-12">
                                                <h4><a href="{{href}}">{{title}}</a></h4>
                                                <ul class="post-meta">
                                                    {{#meta}}
                                                        <li>
                                                            <i class="{{icon}}"></i>
                                                            <a href="#">{{text}}</a>
                                                        </li>
                                                    {{/meta}}
                                                </ul>
                                                <p class="post-desc">{{desc}}</p>
                                            </div>
                                        </div>
                                    {{/page.blog.post}}
                                </div>

                                <div id="section5" class="targetDiv contact">
                                    <div class="head animated fadeInDown">
                                        <h3 class="section-title">{{page.contact.title}}</h3>
                                    </div>
                                    <div class="animated fadeIn">
                                        <div class="map">
                                            <img src="{{{page.contact.info.img}}}">
                                        </div>
                                        <h4>{{page.contact.info.title}}</h4>
                                        <p class="post-desc">{{page.contact.info.desc}}</p>
                                        <ul class="contact-meta post-meta">
                                            {{#page.contact.info.meta}}
                                                <li>
                                                    <i class="{{icon}}"></i>
                                                    <span>{{text}}<span>
                                                </li>
                                            {{/page.contact.info.meta}}
                                        </ul>
                                        <div class="message-box">
                                            <h4>{{page.contact.message.title}}</h4>
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-12">
                                                        <input type="text" name="name" id="name" placeholder="name">
                                                        <input type="text" name="email" id="email" placeholder="email">
                                                        <input type="text" name="subj" id="subj" placeholder="Subject">
                                                    </div>
                                                    <div class="col-md-8 col-sm-12">
                                                        <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                                                    </div>
                                                </div>
                                                <p class="align-right"><button class="btn btn-send">{{page.contact.message.btntext}}</button></p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{>footer}}
                        </div>
                    </div>
                </div>
            </section>
        </main>
        
    </body>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lightgallery.js"></script>
    <script src="js/lg-thumbnail.js"></script>
    <script src="js/lg-fullscreen.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
